# Hardhat networks
PRIVATE_KEY=
BASE_RPC_URL=https://mainnet.base.org
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
ETHERSCAN_API_KEY=

# Comma-separated list of reporters. If empty, deployer becomes reporter
REPORTERS=

# Optional: if you have DataFeed contract that takes oracle address
DATAFEED_USES_ORACLE=0
